<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Minimal configuration</title>

        <input-field type="colorpicker">
            <name>configuratorBackground</name>
            <label>Hintergrund der Varianten</label>
            <css>sass-plugin-variant-bg-color</css>
            <defaultValue>#39b23d</defaultValue>
        </input-field>
        <input-field type="colorpicker">
            <name>configuratorActiveBackground</name>
            <label>Hintergrund der aktiven Variante</label>
            <css>sass-plugin-variant-active-bg-color</css>
            <defaultValue>#2d8c30</defaultValue>
        </input-field>
        <input-field type="colorpicker">
            <name>configuratorTextColor</name>
            <label>Schriftfarbe der Variante</label>
            <css>sass-plugin-variant-text-color</css>
            <defaultValue>#ffffff</defaultValue>
        </input-field>
    </card>
</config>
