$sass-plugin-variant-bg-color: #39b23d !default;
$sass-plugin-variant-active-bg-color: #2d8c30 !default;
$sass-plugin-variant-text-color: #ffffff !default;

.af-configurator a{
    text-decoration:none;
}
.af-configurator{
    display:flex;
    flex-direction:row;
    align-items:center;
    flex-wrap: wrap;
    margin: 1rem 0;
}
.configurator-variant{
    min-width:120px;
    margin: 1rem;
    margin-left:0;
    background: $sass-plugin-variant-bg-color;
    padding:1rem;
    color:$sass-plugin-variant-text-color;
    border-radius:10px;
}
.configurator-variant.variant-active{
    background: $sass-plugin-variant-active-bg-color;
}
.variant-group{
    margin-bottom:1rem;
}
